footer {
    background-color: #333;
    color: white;
    a {
        color : lightblue;
    }
    
    a:hover {
        color : red;
    }
}

.ng-invalid.ng-dirty {
    border-color :  red;
    border-width: 5px; 
}

